body {
    font-family: 'Exo', sans-serif;
    font-size: 1.5em;
    margin: 42px;
    background: #729f98;
    color: #f0eceb;
}

a {
    color: #f0eceb;
}

dt {
    border-bottom: 3px solid #f0eceb;
    font-weight: bold;
}

dd {
    margin-top: 0.1em;
    margin-bottom: 0.7em;
    margin-left: 0;
}
