body {
    font-family: 'Exo', sans-serif;
    font-size: 1.5em;
    margin: 40px;
    background: #F7F2F0;
    color: #12186B;
}

a {
    color: #B03912;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

dl {
    margin-top: 0.2em;
}

dt {
    font-weight: bold;
    font-size: 3vh;
}

dd {
    margin-top: 0.1em;
    margin-bottom: 0.7em;
    margin-left: 0;
    font-size: 2vh;
}

h1 {
    font-size: 4vh;
}

h2 {
    font-size: 5vh;
    margin-bottom: 0;
}

h3 {
    font-size: 3vh;
    margin-bottom: 0;
}
