body {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.5em;
  margin: 42px;
  background: #360;
  color: #fff;
}

body.prompts {
  text-align: left;
}

img {
  border: 4px solid #fff;
}

a {
  color: #fc0;
}

dd {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-left: 0;
}

p.source {
  font-size: 0.5em;
}